  h1 {
    color: blue;
  }
 img {
    width: 400px;
  }
 #thirdDiv {
    height: 500px;
    width: 600px;
    background-color: green;
    border: 10px solid blue;
    margin: 50px;
    padding-left: 20px;
    padding-top: 50px;
  }
#spanId {
    font-size: 28px;
    margin: 50px;
  }
.divClass {
    background-color: aquamarine;
  }